@{
    Layout = "~/Views/Shared/Proprietaire.cshtml";
}

<section class="section">
    <div class="row">
      @foreach(var list in  ViewBag.liste){
        <div class="col-lg-8">
          <div class="card">
                  <div class="row g-0">
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">@list.NomBien <span>| Redispo :</span><span style="color: red;">  @list.DateFin.ToShortDateString()</span> <br>
                        <span>@list.Loyer.ToString("N0") Ar/mois</span></h5>
                        <p class="card-text">@list.DescriptionBien</p>
                      </div>
                    </div>
              </div>
          </div>
        </div>
      }
</section>